<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lunar_calendar.Properties.Settings.LunarDate" connectionString="Dsn=MS Access Database;dbq=D:\MyProg\C#\lunar calendar\lunar calendar\DataBase\LunarDate.accdb;defaultdir=D:\MyProg\C#\lunar calendar\lunar calendar\DataBase;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>